//body background colors 

$mobileBackgroundColor:LightGoldenRodYellow;

$xsBackgroundColor:rgb(255, 245, 244);

$smBackgroundColor:rgb(255, 247, 235);

$mdBackgroundColor:WhiteSmoke;

// $mobileColor:gray;

// $xsColor:blue;

// $smColor:olive;

// $mdColor:forestgreen;

//--------------------

$generalShadow: 2px 2px 3px #888888;
$generalShadowSec: 1.5px 1.5px 2px #333;

//color variables

$blackcolor:#087990;
$blackcolorHover:#a71d5d;

$svgHover:MistyRose;

$whitecolortitle:Aqua ;
$whitecolortitleHover:LawnGreen ;

$whitecolortext:LightYellow ;
$whitecolortextHover:PaleTurquoise ;

$textGeneralColor:#565c64;

//font variables
$generalFont: Arial, Helvetica, sans-serif;

$fontTitle:'Ubuntu', sans-serif;
$fontBody: 'Roboto Mono', monospace;



